// Default Titles
h1, h2, h3, h4 {
    cursor: default;
    font-weight: 400;
}

h2 {
    font-size: 2em;
    margin: 30px 0 20px;
    font-weight: 600;
}

p {
	color: #707070;
    margin-bottom: 15px;
}

a {
	color: $blue;
	text-decoration: none;
}

pre {
	padding: 10px;
	color: #909090;
	background: #fff;
	overflow: auto;
    border-bottom: 3px solid #ddedea;
}

pre, .gist {
    margin-bottom: 30px;
}

.feature {
	color: $yes-pink;
	font-weight: 400;
}
